/* You can add global styles to this file, and also import other style files */
code,
kbd,
pre,
.alert,
.badge,
.btn,
.btn-link,
.breadcrumb,
.dropdown-menu,
.card,
.card *,
.alert,
.form-control,
.icon-bar,
.img-rounded,
.img-thumbnail,
.img-circle,
.input-group-addon,
.input-group-btn,
.input-group *,
.jumbotron,
.label,
.list-group-item,
.modal-content,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.pager *,
.pagination,
.panel,
.popover,
.popover-title,
.progress,
.thumbnail,
.tooltip-inner,
.well,
.carousel-indicators li {
    border-radius:0 !important;
}